<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Name -->
    <a [routerLink]="['/etudiants']" routerLinkActive="active" class="brand-link">
      <span style="padding-left:20px ;">Gestion Departement</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">PAGES</li>
          <li class="nav-item">
           
            <a class="nav-link"  [routerLink]="['/etudiants']" routerLinkActive="active">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Etudiants
              </p>
            </a>
          </li>   
          <li class="nav-item">
            <a [routerLink]="['/enseignants']" routerLinkActive="active" class="nav-link">
              <i class="nav-icon  fas fa-user-tie"></i>
              <p>
                Enseignants
              </p>
            </a>
          </li>   
          <li class="nav-item">
            <a [routerLink]="['/cadre-admin']" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-user-cog"  ></i>
              <p>
                Cadres Administratifs
              </p>
            </a>
          </li>   
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>